<div class="form-group custom-input-wrapper" [ngClass]="classes">
  <label [for]="id" *ngIf="label">{{ label }}</label>

  <div class="input-inner">
    <span class="material-icons prefix-icon" *ngIf="icon">{{ icon }}</span>

    <ng-container *ngIf="inputType !== 'date' && inputType !== 'textarea'">
      <input [type]="inputType === 'password' ? (hidePassword ? 'password' : 'text') : inputType" 
        [id]="id"
        [formControl]="control" 
        (blur)="handleBlurEvent($event)" 
        [placeholder]="placeholder"
        class="custom-input"
        [ngClass]="{'has-icon': icon}">
    </ng-container>

    <ng-container *ngIf="inputType === 'date'">
      <input type="date"
        [id]="id"
        [formControl]="control" 
        (blur)="handleBlurEvent($event)" 
        [placeholder]="placeholder"
        class="custom-input"
        [ngClass]="{'has-icon': icon}">
    </ng-container>

    <button type="button" class="password-toggle-btn" *ngIf="inputType === 'password'" (click)="togglePasswordVisibility()" title="Toggle Password">
      <span class="material-icons">{{hidePassword ? 'visibility_off' : 'visibility'}}</span>
    </button>
  </div>

  <div class="error-message" *ngIf="control?.errors && (isSubmitted || control?.touched)">
    <span *ngIf="control?.errors?.['required']">{{label ? label : 'This field'}} is required</span>
    <ng-content></ng-content>
  </div>
</div>