<ion-item class="custom-ion-item" [ngClass]="classes" lines="none">
  <ion-input *ngIf="inputType !== 'date' && inputType !== 'textarea' && inputType !== 'select' && inputType !== 'datepicker'"
    [type]="inputType === 'password' ? (hidePassword ? 'password' : 'text') : inputType" 
    [label]="label"
    labelPlacement="floating"
    [formControl]="control" 
    (ionBlur)="handleBlurEvent($event)" 
    [placeholder]="placeholder"
    class="custom-input"
    [maxlength]="maxlength">
    <ion-button slot="end" fill="clear" *ngIf="inputType === 'password'" (click)="togglePasswordVisibility()" class="password-toggle-btn">
      <span class="material-icons">{{hidePassword ? 'visibility_off' : 'visibility'}}</span>
    </ion-button>
  </ion-input>

  <ion-select *ngIf="inputType === 'select'"
    [label]="label"
    labelPlacement="floating"
    [formControl]="control"
    (ionBlur)="handleBlurEvent($event)"
    [placeholder]="placeholder"
    class="custom-input select-input">
    <ion-select-option *ngFor="let opt of options" [value]="opt.value">{{ opt.label }}</ion-select-option>
  </ion-select>

  <!-- Keeping Datepicker as MatDatepicker for now but wrapping in ion-item -->
  <div *ngIf="inputType === 'datepicker'" class="datepicker-wrapper">
    <label [for]="id" *ngIf="label">{{ label }}</label>
    <div class="input-inner">
      <input 
        [matDatepicker]="picker"
        [id]="id"
        [formControl]="control" 
        (blur)="handleBlurEvent($event)" 
        [placeholder]="placeholder"
        class="custom-input date-picker-input"
        [max]="maxDate">
      <mat-datepicker-toggle *ngIf="control && !control.disabled" matIconSuffix [for]="picker" class="datepicker-toggle"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </div>
  </div>
</ion-item>

<div class="error-message" *ngIf="control?.errors && (isSubmitted || control?.touched)">
  <span *ngIf="control?.errors?.['required']">{{label ? label : 'This field'}} is required</span>
  <ng-content></ng-content>
</div>